.site-footer {
    background-color: #fff;
    color: #193624;
    padding: 60px 5% 10px 5%;
    font-family: 'Clash Grotesk', sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
  
  .footer-logo h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 700;
  }
  
  .footer-links {
    display: flex;
    flex: 1;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 15px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #193624;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #13D23A;
  }
  
  .footer-bottom{
    margin-top:50px;
    text-align: center;
    font-size: clamp(0.9rem, 1vw, 1rem);
    color: #193624;
  }


  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-links {
      flex-direction: column;
      gap: 30px;
      width: 100%;
    }
  
    .footer-links ul {
      width: 100%;
    }
  
    .footer-bottom {
      font-size: 0.85rem;
      margin-top: 30px;
    }
  }
  