# Python virtual environment
venv/
env/
__pycache__/
*.py[cod]

# SQLite DB
db.sqlite3

# Node and frontend stuff
node_modules/
build/
dist/
coverage/

# Environment files
.env*
!*.env.example

# System/editor junk
.DS_Store
.vscode/
*.log
