* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --bg-color: #193624;
    --h-color: #F3E7BE;
    --green: #13D23A;
    --white: #fff;
    --black: #1e1e1e;

    --p-size:clamp(1rem, 1.2rem, 1.5rem);
    --h2-size: 2.5rem;
    --bigHsize: 3.5rem;
    --ulSize: clamp(1.2rem, 1.8rem, 2rem);
}

#forgotPassword-container{
    position: relative;
    width: 100%;
    height:100vh;
    display: grid;
    place-content: center;
}

#forgotPassword-container h2{
    text-align: center;
    font-size: var(--h2-size);
    color: var(--h-color);
}

#forgot-login-box{
    position:relative;
    background-color: var(--white);
    margin-top:20px;
    border-radius: 20px;
    padding:20% 10%;
}

#forgot-login-box input{
    margin-bottom:20px;
}

#forgot-login-buttons{
    display: flex;
    gap:10px;
}

#forgot-login-buttons button{
    padding:10px 20px;
    font-size: 0.8rem;
    border:1px solid var(--black);
    cursor: pointer;
    font-weight: 500;
}

#forgot-button1{
    background-color: var(--green);
}

#forgotPassword-container p{
    margin-top:20px;
    font-size: 1rem;
    color:var(--h-color);
    text-align: center;
}

#forgot-msg{
    position:absolute;
    color:var(--black) !important;
    font-size: 0.9rem !important;
    text-align: left !important;
    bottom: 30px !important;
}