/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --bg-color: #193624;
    --h-color: #F3E7BE;
    --green: #13D23A;
    --white: #fff;
    --black: #1e1e1e;

    --p-size:clamp(1rem, 1.2rem, 1.5rem);
    --h2-size: 2.5rem;
    --bigHsize: 3.5rem;
    --ulSize: clamp(1.2rem, 1.8rem, 2rem);
}
  
  body, html {
    height: 100vh;
  }
  
  /* Container principal com flexbox para dividir em duas colunas */
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* Lado com a imagem */
  .side-image {
    flex: 1;
    background-image: url('../Images/Hero-Img.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
  }
  .side-image .navigation{
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:6%;
    padding: 6% 8%;
  }
  
.navigation a{
  color: var(--h-color);
}
.navigation #logo{
    font-size: clamp(16px, 20px, 26px) !important;
    font-weight: 600;
}
.navigation ul{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#uni-logo{
  position: absolute;
  bottom:5%;
  left:5%;
  width:10%;
}
  
  /* Lado com o formulário */
  .side-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
  
  /* Estilização da caixa de login */
  .login-box {
    width: 70%;
    padding: 20px;
    text-align: left;
  }
  
  .login-box h2 {
    position: relative;
    font-size: var(--h2-size);
    font-weight: 800;
    margin-bottom: 30px;
    display: inline-block;
    z-index: 1;
  }

  .login-box h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: var(--green);
    z-index: -1;
  }

  .login-box label {
    font-weight: 600;
    margin-top: 10px;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 5px;
    font-size: 1rem;
    border: 1.5px solid black;
    border-radius: 0;
    outline: none;
  }
  
  .password-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .password-wrapper input {
    width: 100%;
    padding-right: 80px;
  }
  
  #toggle-btn {
    position: absolute;
    right: 10px;
    top: 17px;
    background: none;
    border: none;
    color: var(--black);
    font-size: 0.9rem;
    cursor: pointer;
  }

  .forgot-password {
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-decoration: underline;
    color: var(--black);
    cursor: pointer;
    margin-bottom: 20px;
  }

  .forgot-password a{
    color: var(--black);
  }

  #createAcc{
    margin-top:20px;
    font-size: 0.9rem;
  }
  #createAcc a{
    text-decoration: underline;
    color: var(--black);
  }

  .login-box #signIn-button {
    width: 50%;
    padding: 15px;
    font-size: 1.1rem;
    background-color: var(--green);
    color: black;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-box #signIn-buttonton:hover {
    background-color: #00b82c;
  }
  
  .error-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  